body{
    margin: 0;
    padding: 0;
    background: wheat;
}
.main-container{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.container{
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    border: 2px solid chocolate;
}
input{
    width: 90%;
    margin: 20px;
    font-size: 25px;
}
button{
    font-size: 30px;
    background: wheat;
    border-radius: 5px;
}
button:active{
    background: chocolate;
    color: cornsilk;
}
h4{
    font-size: 30px;
    color: darkblue;
}
#last-msg{
    color: darkcyan;
}
.feedback{
    background: rgb(255, 107, 107);
    display: none;
}

.show {
    display: block;
}
  